html,body {
    margin: 0px;
    display: flex;
    font-family: 'Open Sans';
}

.header {
    width: 100%;
    color: #FFF;
    background: #f9f9f9;
    position: fixed;
    padding: 90px 0px 50px 70px;
    display: flex;  
}

.header__title {
    font-size: 40px;
    margin: 0px;
    flex: 1; 
    color: #4800ff;
    letter-spacing: 1;
}

.headerbutton {
    font-size: 2em;
    font-weight: medium;
    margin-right: 140px;
    padding: 2px 25px;
    border-radius: 10px;
    color: #4800ff;
    background: none;
    border-color: #4800ff;
    border-width: 5px;
}

.main {
    margin-top: 195px;
    position: relative;
    width: 100vw;
}

.progress {
    color: #FFF;
    display: block;
    background: rgba(0,55,255,0.3);
    font-size: 40px;
    font-weight: bold;
}

.stepsquareactive {
    display: inline-block;
    color: #FFF;
    background: #4800ff;
    padding: 7px 100px;
}

.stepsquare {
    display: none;
    color: #FFF;
    background: rgba(0,55,255,0.5);
    padding: 5px 25px;
}

.instructions {
    color: #FFF;
    background: #f9f9f9;
    height: auto;
}

.instructiontext {
    font-size: 32px;
    color: #4800ff;
    line-height: 1.4;
    padding: 100px 150px 100px 125px;
    margin: 0px;
}

.choices {
    padding: 50px;
    text-align: center;
}

img {
    width: 175px;  
    border: none;
    background: none;
    border-radius: none;
}

.identifier {
    display: inline-block;
    width: 175px;
    padding: 20px 40px;
    margin-right: 20px;
    margin-bottom: 20px;
}

b {
    font-size: 30px;
    margin: 12px 0px;
    color: #4800FF;
}

p { 
    font-size: 30px;
    margin: 12px 0px;
    color: #FFF;
}

.nextbutton {
    margin-top: 75px;
    padding: 40px 150px;
    border-radius: 10px;
    font-size: 48px;
    color: #FFF;
    background: #4800ff;
    font-weight: bold;
    letter-spacing: 1;
    opacity: .3;
}

.footer {
    width: 100%;
    color: #FFF;
    position: fixed;
    left: 0;
    bottom: 0;
     padding: 40px 20px 20px 20px;
    display: flex;
}

.backbutton {
    margin-left: 70px;
    border-radius: 5px;
    font-size: 40px;
    color: #4800ff;
    background: none;
    border: none;
    letter-spacing: 1;
}

